In [1]:
import os
import findspark
import matplotlib.pyplot as plt

from pyspark import SparkContext
from pyspark.sql import SQLContext

# Spécifie le chemin où est stocké Spark
os.environ["SPARK_HOME"] = "/home/louis/spark-3.5.0-bin-hadoop3"

# Trouve les exécutables dans le dossier SPARK_HOME
findspark.init()  

# Crée un SparkContext local
sc = SparkContext(master="local[*]")

# Instancie un SQLContext
sql_c = SQLContext(sc)

your 131072x1 screen size is bogus. expect trouble
23/10/21 19:40:54 WARN Utils: Your hostname, LAPTOP-R4RVPDJS resolves to a loopback address: 127.0.1.1; using 172.17.243.25 instead (on interface eth0)
23/10/21 19:40:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/21 19:40:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
/home/louis/.local/lib/python3.10/site-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [4]:
rdd = sc.parallelize([i for i in range(10)])

In [5]:
df = sql_c.createDataFrame(rdd.map(lambda i: (i,)))
df.show()

+---+
| _1|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [6]:
df.toPandas().head()

   _1
0   0
1   1
2   2
3   3
4   4

In [7]:
data = sql_c.read.option("header", True).csv("logements.csv")
data.show()

+---------+--------+----+-------------------+-----+
|bathrooms|bedrooms|beds|is_fully_refundable|price|
+---------+--------+----+-------------------+-----+
|      0.0|     0.0| 1.0|                  1| 25.0|
|      0.0|     1.0| 1.0|                  1| 30.0|
|      0.0|     1.0| 2.0|                  1| 65.0|
|      1.0|     0.0| 1.0|                  1| 60.0|
|      1.0|     0.0| 1.0|                  1| 60.0|
|      1.0|     0.0| 1.0|                  1| 65.0|
|      1.0|     1.0| 1.0|                  1| 80.0|
|      1.0|     1.0| 1.0|                  1| 80.0|
|      1.0|     1.0| 1.0|                  1| 90.0|
|      1.0|     1.0| 1.0|                  1|105.0|
|      1.0|     0.0| 1.0|                  1| 45.0|
|      1.0|     0.0| 1.0|                  1| 65.0|
|      1.0|     0.0| 1.0|                  1| 50.0|
|      1.0|     0.0| 1.0|                  1| 50.0|
|      1.0|     0.0| 2.0|                  1| 90.0|
|      1.0|     0.0| 1.0|                  1| 55.0|
|      1.0|     0.0| 1.0|                  1| 65.0|
|      1.0|     0.0| 1.0|                  1| 65.0|
|      1.0|     0.0| 1.0|                  1| 65.0|
|      1.0|     0.0| 1.0|                  1| 70.0|
+---------+--------+----+-------------------+-----+
only showing top 20 rows